{{#each this}}
  <div class='card'>
    <div class='card-text'>
      <h1 class='card-name'>{{name}}</h1>
      <p class='card-text'>Capital: {{capital}}</p>
      <p class='card-text'>Population: {{population}}</p>
      <p class='card-text'>Languages: </p>
      <ul class='list-group'>
        {{#each languages}}
          <li class='list-group-item'>{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
    <img src='{{flag}}' alt='flag of {{name}}' width='250' />
  </div>
{{/each}}